<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Impressum</title>
    <link th:href = "@{style.css}" rel="stylesheet">
</head>
<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{logo2.png}"></a>
    <span class="logo-text">radiologyx</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/register}">Registrieren</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/login}">Login</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/impressum}">Impressum</a></li>

    </ul>
</nav>

<div class="heading_main">
    <h1>Impressum</h1>
</div>

<div class ="box-left">
    <b>
        Verantwortlich für den Inhalt dieser Webseite: Zakir Barang, Semi Slimeni, Filip Condric, Montassar Chrigui
        <br>
        <br>
        • Donaustrasse 15-17  <br>
        • 2304, Scharndorf <br>
        • bar210468@spengergasse.at  <br>
        • sli210486@spengergasse.at  <br>
        • con2104...@spengergasse.at  <br>
        • chr2104...@spengergasse.at
        • 0667 12345678  <br>


        <br> Vertretungsberecht: Zakir Barang, Semi Slimeni, Filip Condric, Montassar Chrigui
        <br>
        <br>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Zakir Barang, Semi Slimeni, Filip Condric, Montassar Chrigui
    </b>
</div>

<div class ="box-center">
    <b>
        Haftungshinweis:
        <br>
    </b>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    <br>
    <br>
    <b>
        Urheberrechtshinweis:
    </b>
    <br>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    <br>
    <br>
    <b>
        Datenschutzerklärung:
    </b>
    <br>
    Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten im Rahmen der Nutzung unserer Webseite “Help Now” und der damit verbundenen Funktionen, Dienste und Inhalte auf.
    <br>
    <br>
    <b>
        1. Zweck der Verarbeitung
    </b>
    <br>

    Die Verarbeitung der Daten erfolgt auf Grundlage der gesetzlichen Bestimmungen (gemäß Art. 6 Abs. 1 DSGVO) und dient der Bereitstellung der Webseite sowie der Erbringung unserer Dienstleistungen.
    <br>
    <br>
    <b>
        2. Änderung der Datenschutzerklärung
    </b>

    <br>
    Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen.
    <br>
    <br>

    <div class="dsgvo">
        <a href="https://www.spengergasse.at/?page_id=2029">Datenschutz der Spengergasse</a>
    </div>

</div>

<div class="homebutton-impressum">
    <a href ="./Helpnow-main.html"><img src="haus.png"></a>
</div>


</body>
</html>