<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{/images/logo2.png}"></a>
    <span class="logo-text">MedConnect</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/register}">Registrieren</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/login}">Login</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/impressum}">Impressum</a></li>
        <li th:if="${#authorization.expression('hasRole(''ARZT'')')}">
            <a th:href="@{/arzt/befunde-patientenliste}">Befunde hochladen</a> <!-- patientenliste soll zuerst angezeigt werden und danch ahref auf befund hochladen für den jeewiligen patienten-->
        </li>
        <li th:if="${#authorization.expression('hasRole(''ARZT'')')}">
            <a th:href="@{/arzt/termine-einsehen}">Termine einsehen</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''PATIENT'')')}">
            <a th:href="@{/patient/termine-vereinbaren}">Termine vereinbaren</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''PATIENT'')')}">
            <a th:href="@{/patient/befunde-einsehen}">Befunde einsehen</a>
        </li>
    </ul>
</nav>

<div class="index_form">
    <form>
        <div class="index_form-title">Willkommen!</div>
        <div class="index_form-container">
                <div class="index_form-box">
                <h1>Einfach Anmelden.</h1>
                <p>Registrieren Sie sich in wenigen Minuten und genießen Sie alle Vorteile unserer Plattform!</p>
                <button> <a th:href="@{/register}">Jetzt Registrieren</a></button>
            </div>

            <div class="index_form-box">
                <h1>Befunde Hochladen.</h1>
                <p>Ärzte können schnell und sicher Befunde hochladen, ohne Stress und ohne Schnickschnack!</p>
                <button><a th:href="@{/register}">Jetzt Registrieren</a></button>
            </div>

            <div class="index_form-box">
                <h1>Patienten Zugang.</h1>
                <p>Patienten können ihre Befunde jederzeit einsehen und Termine planen, ganz bequem von zu Hause!</p>
                <button><a th:href="@{/register}">Jetzt Durchstarten</a></button>
            </div>

            <div class="index_form-box">
                <h1>Schnelle Termine.</h1>
                <p>Planen Sie Ihre Termine in nur wenigen Klicks und genießen Sie eine stressfreie Erfahrung!</p>
                <button><a th:href="@{/login}">Jetzt Termin planen</a></button>
            </div>

        </div>
    </form>
</div>




</body>
</html>