<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DemoSeite</title>
    <link th:href = "@{style.css}" rel="stylesheet">
</head>
<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{logo2.png}"></a>
    <span class="logo-text">Radiologyx</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/register}">Registrieren</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/login}">Login</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/impressum}">Impressum</a></li>
    </ul>
</nav>


<div class="login-form">
    <h1>Login</h1>
    <form
        role="form"
        method="post">


        <div class="login-benutzername">Benutzername:</div>
        <input type="text" placeholder="Benutzernamen eingeben...">
        <br>
        <br>
        <div class="login-passwort">Passwort:</div>
        <input type="text" placeholder="Passwort eingeben...">
        <br>
        <br>
        <button>Bestätigen</button>
    </form>
</div>


</body>
</html>