<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>DemoSeite</title>
    <link th:href = "@{style.css}" rel="stylesheet">
</head>
<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{logo2.png}"></a>
    <span class="logo-text">PatientenPortal</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/register}">Registrieren</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/login}">Login</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/impressum}">Impressum</a></li>
    </ul>
</nav>


<div class="login-form">
    <h1>Login</h1>
    <form th:action="@{/login}" th:object="${user}" method="post" >
        <div class="login-username">Benutzername:</div>
        <input type="text" th:field="*{username}" placeholder="Benutzernamen eingeben...">
        <br><br>
        <div class="login-passwort">Passwort:</div>
        <input type="password"a th:field="*{password}" placeholder="Passwort eingeben...">
        <br><br>
        <button type="submit">Bestätigen</button>
    </form>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
</div>


</body>
</html>