<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href = "@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{/images/logo2.png}"></a>
    <span class="logo-text">MedConnect</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li>
        <li><a th:href="@{/register}">Registrieren</a></li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/impressum}">Impressum</a></li>
        <li th:if="${#authorization.expression('hasRole(''ARZT'')')}">
            <a th:href="@{/arzt/befund-hochladen}">Befunde hochladen</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ARZT'')')}">
            <a th:href="@{/arzt/termine-einsehen}">Termine einsehen</a>
        </li>
    </ul>
</nav>

<div class="register-form">
    <h1>Registrieren</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">

        <div class="reigster-username">Vorname:</div>

        <input type="text" th:field="*{username}" placeholder="Username eingeben..." >
        <br><br>

        <div class="register-vorname">Vorname:</div>

        <input type="text" th:field="*{firstName}" placeholder="Vorname eingeben..." required>
        <br><br>
        <div class="register-nachname">Nachname:</div>

        <input type="text" th:field="*{lastName}" placeholder="Nachname eingeben... " required>
        <br><br>
        <div class="register-geschlecht">Geschlecht:</div>

        <select th:field="*{gender}">
            <option value="" disabled selected>Auswählen...</option>
            <option value="Mann">Mann</option>
            <option value="Frau">Frau</option>
        </select>

        <br><br>
        <div class="register-passwort1">Passwort:</div>

        <input type="text" th:field="*{password}" placeholder="Passwort eingeben...">
        <br> <br>
        <div class="register-passwort2">Passwort bestätigen:</div>

        <input type="text" th:field="*{confirmPassword}" placeholder="Passwort bestätigen...">
        <br><br>
        <button type="submit">Bestätigen</button>
    </form>
    <p></p>
    <div th:if="${successMessage}" th:text="${successMessage}" style="color: green; font-family: 'Nunito', roboto, sans-serif; font-size: 10pt; font-weight: bold"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red; font-family: 'Nunito', roboto, sans-serif; font-size: 10pt; font-weight: bold"></div>
</div>

</body>
</html>
