<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Termine einsehen</title>
    <!-- Externe CSS-Datei einbinden -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="logo-container">
    <a th:href="@{/}"><img th:src="@{/images/logo2.png}"></a>
    <span class="logo-text">MedConnect</span>
</div>

<nav>
    <ul>
        <li><a th:href="@{/}">Startseite</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/register}">Registrieren</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/login}">Login</a></li> <!-- Korrektes th:href -->
        <li><a th:href="@{/impressum}">Impressum</a></li>
        <li th:if="${#authorization.expression('hasRole(''ARZT'')')}">
            <a th:href="@{/arzt/termine-einsehen}">Termine einsehen</a>
        </li>
    </ul>
</nav>

<div class ="termine-einsehen-h">
    <h1>Termine für Arzt</h1>
</div>

<!-- Container für die Termin-Tabelle -->
<div class="termine-einsehen-container">
    <table>
        <!--
        <thead>
        <tr>
            <th>ID</th>
            <th>Patient</th>
            <th>Datum/Zeit</th>
        </tr>
        </thead>
        -->
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.id}"></td>
            <td th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></td>
            <td th:text="${appointment.dateTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
